{% extends "base.html" %}


{% block title %}

    {{ profile.user.username }}

{% endblock %}


{% block content %}

    <h1>{{ profile.user.username }}</h1>
    <p>First name: {{ profile.user.first_name }}</p>
    <p>Last name: {{ profile.user.last_name }}</p>
    <p>Email: {{ profile.user.email }}</p>
    <p>Favorite city: {{ profile.favorite_city }}</p>
    <div><a href="{% url 'profiles:index' %}">Back</a></div>
    <div><a href="{% url 'index' %}">Home</a></div>
    <div><a href="{% url 'lettings:index' %}">Lettings</a></div>

{% endblock %}