{% extends "base.html" %}


{% block title %}

    Lettings

{% endblock %}


{% block content %}

    <h1>Lettings</h1>
    {% if lettings_list %}
        <ul>
        {% for letting in lettings_list %}
            <li>
                <a href="{% url 'lettings:letting' letting_id=letting.id %}">
                    {{ letting.title }}
                </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No lettings are available.</p>
    {% endif %}
    <div><a href="{% url 'index' %}">Home</a></div>
    <div><a href="{% url 'profiles:index' %}">Profiles</a></div>

{% endblock %}